body {
  background-color: #6D9D9E !important;
}

#main-title {
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 65px;
  color: white;
}

@media only screen and (max-width: 768px) {
  div#board.container {
    margin: 50px;
  }
  #main-title {
    font-size: 120px;
    padding-top: 30px;
  }
  #message {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  div#board.container {
    width: 500px;
  }
}

#message h3 {
  font-family: 'Bad Script', cursive;
  color: white;
  font-size: 35px;
}

button.btn.btn-default {
  background-color: transparent;
  border-color: white;
  color: white;
  font-family: 'Ruda', sans-serif;
  display: inline-block;
}

button.btn.btn-default:hover {
  background-color: white;
  border-color: white;
  color: #6D9D9E;
}

.box {
  height: 150px;
  width: 150px;
  border: solid darkgrey 1px;
  display: inline-block;
  font-size: 60px;
  font-family: 'Bad Script', cursive;
  padding-top: 35px;
  color: white;
  float: left;
}

.disabled {
  pointer-events: none;
}

.first-row {
  border-top: none;
}

.first-col {
  border-left: none;
}

.third-row {
  border-bottom: none;
}

.third-col {
  border-right: none;
}
